<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['/student']">Student</a></li>
      <li><a [routerLink]="['/course']">Course</a></li>
      <li><a [routerLink]="['/admin']">Admin</a></li>
      <!--<li><a href="#">{{studentCount}}</a></li>-->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<!--<app-students (studentCount)="getStudentCount($event)" [schoolNameInput]="schoolName"></app-students>-->