<h1>{{headingName}}</h1>
<h2>{{schoolNameInput}}</h2>

<form class="form-horizontal" #studentForm="ngForm">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">First Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstname" placeholder="Enter first name" [(ngModel)]="student.FirstName" name="firstname"
        required>
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="name">Last Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastname" placeholder="Enter last name" [(ngModel)]="student.LastName" name="lastname"
        required>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Address:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="pwd" placeholder="Enter Address" [(ngModel)]="student.Address" name="address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Age</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="age" placeholder="Enter Age" [(ngModel)]="student.Age" name="age">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default" (click)="addStudent()" [disabled]="studentForm.invalid">Submit</button>
      <button type="button" class="btn btn-default" (click)="goToCourses()">Go To Courses</button>
       <button type="button" class="btn btn-default" (click)="goToCourse()">Go To Course</button>
    </div>
  </div>
</form>


<table class="table table-bordered" *ngIf="studentList.length>0">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Mobile No</th>
  </tr>
  <tr *ngFor="let st of studentList">
    <td>{{st.Name}}</td>
    <td>{{st.Address}}</td>
    <td>{{st.MobileNo}}</td>

  </tr>
</table>